<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="container boxthing">
    <div class="row mt-1">
        <div class="col-3 randomBlue">
            <span>{{cheapWisdom}}</span>
            <br>
            <span>{{cheapWisdom}}</span>
        </div>
        <div class="col-9 randomPurple">
            <span>{{n}}</span>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-3 randomBlue">
            <span>PlaceHolder</span>
        </div>
        <div class="col-9 randomPurple">
            <span>PlaceHolder</span>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-3 randomBlue">
            <span>PlaceHolder</span>
        </div>
        <div class="col-9 randomPurple">
            <span>PlaceHolder</span>
        </div>
    </div>
</body>
</html>